<li>
  {% if entry.author %}{{ entry.author }}.{% endif %}
  {% if entry.year %} ({{ entry.year }}).{% endif %}

  {% if entry.url %}
    <i><a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer">{{ entry.title }}</a></i>.
  {% else %}
    <i>{{ entry.title }}</i>.
  {% endif %}

  {% if entry.journal %} <em>{{ entry.journal }}</em>{% endif %}
  {% if entry.volume %}, {{ entry.volume }}{% endif %}
  {% if entry.number %}({{ entry.number }}){% endif %}
  {% if entry.pages %}, {{ entry.pages }}.{% endif %}
</li>